<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="es.unican.ildm.candy_factory.design.Activator"
               id="es.unican.ildm.candy_factory.design"
	       name="candy_factory">
    </component>
  </extension>
</plugin>
