<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated candy_factory -->
      <package
            uri="http://www.unican.es/ildm/candy_factory"
            class="candy_factory.Candy_factoryPackage"
            genModel="model/candy_factory.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated candy_factory_v2 -->
      <package
            uri="http://www.unican.es/ildm/candy_factory_v2"
            class="candy_factory_v2.Candy_factory_v2Package"
            genModel="model/candy_factory_v2.genmodel"/>
   </extension>

</plugin>
