<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated candy_factory_v2 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="candy_factory_v2.presentation.Candy_factory_v2ModelWizardID"
            name="%_UI_Candy_factory_v2ModelWizard_label"
            class="candy_factory_v2.presentation.Candy_factory_v2ModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Candy_factory_v2ModelFile.gif">
         <description>%_UI_Candy_factory_v2ModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated candy_factory_v2 -->
      <editor
            id="candy_factory_v2.presentation.Candy_factory_v2EditorID"
            name="%_UI_Candy_factory_v2Editor_label"
            icon="icons/full/obj16/Candy_factory_v2ModelFile.gif"
            extensions="candy_factory_v2"
            class="candy_factory_v2.presentation.Candy_factory_v2Editor"
            contributorClass="candy_factory_v2.presentation.Candy_factory_v2ActionBarContributor">
      </editor>
   </extension>

</plugin>
